body {
    font-family: helvetica, arial, sans-serif;
    margin: 2em;
  }
  
  .tooltip{
    position:fixed;
    display:none;
    font-size:12px;
    border-radius:4px;
    opacity:0.8;
    background-color:black;
    color:white;
    padding:10px;
  }